.rabbit {
    height: 50px;
    width: 50px;
    position: sticky;
    background-color: transparent;
}
.nav__items ul li a{
    transition: 1s ease-in-out;
}
.nav__items a:hover{
    padding: 20px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color: #4e4737;

}

.icons1 {
    width: 30px;
    height: 30px;
    position: sticky;
    align-self: center;
    color: aliceblue;
    margin-left: 0;
}

.nav__items {
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav {
    background: var(--color-primary);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

nav button {
    display: none;
}

.nav__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--color-bg);
}

.nav__logo {
    font-weight: 600;
    font-size: 1.2rem;
}


.nav__profile {
    position: relative;
    cursor: pointer;
}

.nav__profile ul {
    position: absolute;
    top: 140%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

/* show nav ul when nav profile is hovered */
.nav__profile:hover > ul {
    visibility: visible;
    opacity: 1;
}

.nav__profile ul li a {
    padding: 1rem;
    background: var(--color-gray-900);
    display: block;
    width: 100%;
}

.nav__profile ul li:last-child a {
    background: var(--color-red);
    color: var(--color-bg);
}

.alert_message {
    padding-top: 100px;
    text-align: center;

}
